<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">

    <task:annotation-driven/> <!-- 定时器开关-->

    <bean id="myTask" class="component.MyTask"/>

    <task:scheduled-tasks>
        <!-- 每天早上八点 0 0 8 * * ? -->
        <task:scheduled ref="myTask" method="pushPro" cron="0 */3 * * * ? "/>
        <!-- 每周一八点 0 0 8 ? * MON -->
        <task:scheduled ref="myTask" method="pushQue" cron="0 */5 * * * ? "/>
    </task:scheduled-tasks>

</beans>