<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.InsuTestMapper">
        <insert id="insert" parameterType="InsuTest">
            INSERT INTO insu_test(phone, children, education, transportation,
                          safety, elderly, disease, travel, accident,
                          medical, property, marriage, female)
            VALUE (#{phone},#{children},#{education}, #{transportation},
                    #{safety}, #{elderly}, #{disease}, #{travel},#{accident},
                    #{medical}, #{property}, #{marriage}, #{female})
        </insert>

        <update id="update" parameterType="InsuTest">
            UPDATE insu_test
            SET children = #{children}, education = #{education}, transportation = #{transportation},
                safety = #{safety},elderly = #{elderly},disease = #{disease},travel = #{travel},accident = #{accident},
                medical = #{medical},property = #{property},marriage = #{marriage},female = #{female}
            WHERE phone = #{phone}
        </update>

        <select id="get" parameterType="String" resultType="InsuTest">
            SELECT *
            FROM insu_test
            WHERE phone = #{phone}
        </select>
</mapper>