<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.InsuProMapper">

    <select id="getPro" parameterType="java.util.List" resultType="InsuPro">
        SELECT *
        FROM insu_pro
        WHERE
        <foreach collection="array" item="item" separator="OR" open="(" close=")">
            name LIKE CONCAT(CONCAT('%', #{item}), '%')
        </foreach>
        ORDER BY RAND()
        LIMIT 0,8
    </select>
</mapper>