<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserMapper">
    <select id="findByPhone" parameterType="String" resultType="User">
        SELECT *
        FROM User
        WHERE phone = #{0}
    </select>
    <insert id="insert" parameterType="User">
        INSERT INTO User(phone, name, psw, token, avatar, age, income)
        VALUES (#{phone},#{name},#{psw},#{token},#{avatar},#{age},#{income})
    </insert>
    <update id="updateToken" parameterType="String">
        UPDATE User
        SET token = #{1}
        WHERE phone = #{0}
    </update>
    <update id="updatePsw" parameterType="String">
        UPDATE User
        SET psw = #{1}
        WHERE phone = #{0}
    </update>
    <update id="updateAvatar" parameterType="String">
        UPDATE User
        SET avatar = #{1}
        WHERE phone = #{0}
    </update>
    <select id="findByToken" parameterType="String" resultType="User">
        SELECT *
        FROM User
        WHERE token = #{0}
    </select>
</mapper>